<%- include("includes/head.ejs") %>
<link rel="stylesheet" href="/css/blog-detail.css">
<link rel="stylesheet" href="/css/add-comment.css">
<link rel="stylesheet" href="/css/comments.css">
</head>
<body>
    <%- include("includes/navbar.ejs") %>
    <div class="recipe">
        <h1> <%= recipe.title %> </h1>
        <p> <%= recipe.ingredients %> </p>
        <p> <%= recipe.instructions %> </p>
        <button id="show-btn" class="show-com-btn">Show Comments</button>
    </div>
</body>
</html>