<%- include("includes/head.ejs") %>
<link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include("includes/navbar.ejs") %>
    <form class="form" action="/admin/recipes/<%= recipe._id %>/edit" method="post">
        <h1 class="form__header">Edit Recipe</h1>
        
            <div class="form__control">
                <label for="title">Title</label>
                <input type="text" placeholder="Title" name="title" value="<%= recipe.title %>">
            </div>
            
            <div class="form__control">
                <label for="imgUrl">Image Url</label>
                <input type="text" placeholder="imgUrl" name="imgUrl" value="<%= recipe.imgUrl %>">
            </div>
            
            <div class="form__control">
                <label for="instructions">Instructions</label>
                <textarea name="instructions" id="" cols="40" rows="20"><%= recipe.instructions %></textarea>
            </div>
            
            <div class="form__control">        
                <label for="ingredients">Needed Ingredients:</label>
                <textarea name="ingredients" id="" cols="30" rows="10"><%= recipe.ingredients %></textarea>
            </div>

            <div class="form__control">
                <select name="category" id="">
                    <% for(const category of categories){ %>
                        <option value="<%= category._id %>"><%= category.name %></option>
                    <% } %>
                </select>
            </div>

            <div class="form__action">
                <button type="submit" form="main-form">+ Edit Recipe</button>
            </div>
    </form>
</body>
</html>